/* Estilo para el calendario de selección de fecha */
#calendarContainer {
    display: none;
    position: absolute;
    top: 35%;
    right: 1rem;
    left: auto;
    transform: none;
    background-color: #fff;
    padding: 2.5rem 1rem 1rem 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    z-index: 9999;
}

#calendarContainer input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

#calendarContainer .btn {
    width: 100%;
    padding: 8px;
    background-color: var(--color-primario);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;  
    margin-top: 5px;
}

#calendarContainer .btn:hover {
  background-color: var(--color-secundario);
  color: #000000;
}

#btnFiltrarPorFecha, #btnFiltrarPorCategoria {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
}

#btnFiltrarPorFecha:hover, #btnFiltrarPorCategoria:hover {
  background-color: #e0e0e0;
}

.btn-close-calendar {
  color: black;
  background: none;
  border: none;
  font-size: 2rem;
  opacity: 1;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 2;
  cursor: pointer;
  line-height: 1;
}


#categoriaSelect {
  display: none;
  position: absolute;
  top: 35%;
  right: 5rem;
  left: auto;
  transform: none;
  background-color: #fff;
  padding: 2.5rem 1rem 1rem 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 300px;
  z-index: 9999;
}

#categoriaSelect label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

#categoriaSelect .d-flex {
  gap: 0.5rem;
}

#categoriaSelect .form-select {
  width: 100%;
  padding: 8px;
}

#categoriaSelect .btn {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#categoriaSelect .btn-primary {
  background-color: var(--color-primario);
  color: #fff;
}

#categoriaSelect .btn-primary:hover {
  background-color: var(--color-secundario);
  color: #000;
}

#categoriaSelect .btn-secondary {
  background-color: #e0e0e0;
  color: #000;
}

#categoriaSelect .btn-secondary:hover {
  background-color: #bdbdbd;
}