.formulario-wrapper {
  height: 100vh;
  background-color: var(--color-primario);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.registro-container {
  display: flex;
  flex-direction: column;
  max-width: 850px;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  flex: 1;
}

.seccion-registro {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

.formulario-gasto {
  background-color: white;
  width: 60%;
  padding-left: 3rem !important;
  padding-right: 2rem !important;
  padding-top: 3rem;
  overflow-y: auto;
  max-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imagen-gasto {
  background-color: var(--color-primario);
  width: 40%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-gasto {
  max-width: 250px;
  max-height: 250px;
  filter: brightness(0) invert(1);
}


.btn-close-custom {
  color: white;
  background: none;
  border: none;
  font-size: 2rem;
  opacity: 1;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 2;
  cursor: pointer;
  line-height: 1;
}

.footer-modal {
  background-color: var(--color-primario);
  color: white;
  font-size: 0.85rem;
  text-align: center;
  padding: 0.5rem 0;
}

.titulo-formulario {
  font-family: var(--fuente-titulo);
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

button[type="submit"] {
  background-color: var(--color-secundario);
  font-family: var(--fuente-boton);
  font-weight: 600;
  border: none;
  border-radius: 0;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
}

input.form-control,
select.form-select {
  border-radius: 10px;
  background-color: #E5E5E5;
  border: none;
  font-size: 0.95rem;
}

input.form-control:focus,
select.form-select:focus {
  box-shadow: none;
  border: 2px solid var(--color-secundario);
}

.alert-primary {
  background-color: #eef4ff;
  color: var(--color-primario);
  font-weight: bold;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  margin-top: 1rem;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.mensaje-error {
  font-size: 0.85rem;
  margin-top: 4px;
  color: red;
}

