
input.form-control:focus,
select.form-select:focus,
textarea.form-control:focus {
  box-shadow: none;
  border: 2px solid var(--color-secundario);
}

.mensaje-error {
  font-size: 0.85rem;
  margin-top: 4px;
  color: red;
}

